@charset "utf-8";

/* コンテンツ */
.content {
  text-align: center;
  margin-top: 10%;
}

.content p {
  font-size: 1.1rem;
  margin: 10px 0 42px;
}
/* コンテンツ */

/* 見出し */
.page-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: normal;
}
/* 見出し */

/* 背景 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: linear-gradient(#23bfca, #fff);
  min-height: 100vh;
}

#home .page-title {
  text-transform: none;
}
/* 背景 */
