body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 50px;
}

table {
  border: 2px solid #eee;
  border-collapse: collapse;
}

thead,
tfoot {
  background: #aeb5dc;
}

thead th:first-child {
  color: #ed1c24;
}

thead th:last-child {
  color: #0c4da2;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tbody td:first-child {
  color: #ed1c24;
}

tbody td:last-child {
  color: #0c4da2;
}

tfoot {
  font-weight: 600;
}

td.disabled {
  opacity: 0.3;
}

td.today {
  font-weight: 600;
}

#prev,
#next,
#today {
  cursor: pointer;
  user-select: none;
}

#prev {
  color: black;
}

#next {
  color: black;
}

a {
  color: #660000;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: #4699ca;
}
